@use '@/styles/vars' as *;


.formatting_btns {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-bottom: 15px;
}

%button_base {
	padding: 8px 15px;
	font-size:$middle-font-size;
	border-radius: $middle-border-radius;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	transition: $button-transition;
	
	&:focus {
		outline: none;
		box-shadow: $container-box-shadow;
	}
}

%button_theme_blue {
	color: #fff;
	background-color: #0089ff;
	border-color: #0089ff;

	&:hover {
		background-color: transparent;
		color: #0c6fc5;
	}
}

%button_theme_blue_active {
	color: #0089ff;
	background-color: #fff;
	border-color: #0089ff;

	&:hover {
		background-color: #0c6fc5;
		color: #fff;
	}
}

%button_theme_red {
	color: #fff;
	background-color: #e70810;
	border-color: #e70810;

	&:hover {
		background-color: transparent;
		color: #9f181c;
	}
}

.comment_like_btn {
	@extend %button_base;
	@extend %button_theme_blue;
}

.comment_like_btn_active {
	@extend %button_base;
	@extend %button_theme_blue_active;
}

.comment_reply_btn {
	@extend %button_base;
	@extend %button_theme_blue;
}

.comment_delete_btn {
	@extend %button_base;
	@extend %button_theme_red;
}

.comment_created_at {
	font-size: $small-font-size;
	margin-left: auto;
	color: #0009;
}
